.list-container {
  padding: 20px;
  scroll-behavior: smooth;
}

.card-list {
  display: grid;
  column-gap: 20px;
  grid-gap: 20px;
  grid-template-columns: 1fr;

  @media (min-width: 520px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (min-width: 992px) {
    grid-template-columns: repeat(4, 250px);
  }
  @media (min-width: 1200px) {
    grid-template-columns: repeat(5, 210px);
  }
}

.no-results {
  font-size: 30px;
  font-weight: 600;
  &__img {
    @media all and (max-width: 768px) {
      width: 50%;
    }
  }
}
